<h2>Update the drone</h2>


<form action="/drones/{{drone._id}}/edit" method="post">
    <label for="name-input">Name:</label>
    <input type="text" id="name-input" name="name" value="{{drone.name}}">
    <label for="propellers-input">Propellers:</label>
    <input type="number" id="propellers-input" name="propellers" value="{{drone.propellers}}">
    <label for="maxSpeed-input">Max speed:</label>
    <input type="number" id="maxSpeed-input" name="maxSpeed" value="{{drone.maxSpeed}}">

    <button type="submit">Save changes</button>
</form>